<?xml version="1.0" encoding="UTF-8"?>


<Configuration status="WARN" strict="true">

  <Properties>
    <Property name="LOG_DIR">log</Property>
  </Properties>

  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="[%date{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%t] [%logger{1}] [%level] %msg%n%throwable{full}"/>
    </Console>
    <File name="File" fileName="${LOG_DIR}/latest.log" append="false">
      <PatternLayout pattern="[%date{yyyy-MM-dd'T'HH:mm:ss.SSS}] [%t] [%logger{1}] [%level] %msg%n%throwable{full}"/>
    </File>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
      <AppenderRef ref="File"/>
    </Root>
  </Loggers>

</Configuration>
